<div fxLayout="column" fxFlex>
  <div fxLayout="row">
    <span fxFlex class="fab-margin">
      <h3>Hi, {{user}}</h3>
      <p>Showing your list of Favourites Food</p>
    </span>
      <button mat-fab [routerLink]="['/food/search']" class="fab-margin">
          <mat-icon>add</mat-icon>
      </button>
  </div>
  <food-container [foods]="foods" [isSearch]="false"></food-container>
</div>