<div fxLayout="column">

  <div class="container-center">
      <mat-form-field style="width:50%;margin:16px;">
          <input matInput class="search-box" type="text" #searchBox (keyup.enter)="onEnter(searchBox.value)" placeholder="Search">
      </mat-form-field>
  </div>

  <div class="container-center">
      <food-container [foods]="foods" [isSearch]="isSearch"></food-container>
  </div>

</div>