.auth-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 768px;
    margin: 32px;
}

.center {
    display: flex;
    width: 100%;
    justify-content: flex-end
}

.auth-header {
    display: flex;
    flex-direction:row;
}
