<div class="center">
  <div class="auth-container">
    <h3>Login</h3>
    <mat-form-field>
      <input matInput class="user-id" placeholder="User ID" [(ngModel)]='user.userId' type="text">
    </mat-form-field>
    <mat-form-field>
        <input matInput class="user-password" placeholder="Password" [(ngModel)]='user.password' type="password">
    </mat-form-field>
    <button mat-button color="accent" class="login-user" (click)="login()">Login</button>
    <div class="auth-header">
      <p>Don't have a account ?</p>
      <button class="register-btn" mat-button color="primary" [routerLink]="['/register']">Register Here</button>
    </div>
  </div>
</div>