<div fxLayout="row wrap" fxLayoutAlign="start start">
    <div fxFlex.lg="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let food of foods">
        <food-view [food]="food" [isSearch]="isSearch" (addFood)="addToFavourites($event)" (updateFood)="updateFavourites($event)"
        (deleteFood)="deleteFavourites($event)"></food-view>
    </div>
</div>