<div fxLayout="column">
  <mat-toolbar color="primary">
    <span>{{title}}</span>
    <div *ngIf="isLoggedIn">
        <button mat-button [routerLink]="['/food/favourites']">Favourites</button>
        <button mat-button class="search-btn" [routerLink]="['/food/search']">Search</button>
        <button mat-button class="logout-btn" (click)="logout()">Logout</button>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>