<div class="center">
  <div class="auth-container">
    <h3>Register</h3>
    <mat-form-field>
        <input matInput class="user-fname" placeholder="First Name" [(ngModel)]="user.firstName" type="text" >
    </mat-form-field>
    <mat-form-field>
        <input matInput class="user-lname" placeholder="Last Name" [(ngModel)]="user.lastName" type="text" >
    </mat-form-field>
    <mat-form-field>
      <input matInput class="user-id" placeholder="User ID" [(ngModel)]="user.userId" type="text" >
    </mat-form-field>
    <mat-form-field>
        <input matInput class="user-password" placeholder="Password" [(ngModel)]="user.password" type="password" >
    </mat-form-field>
    <button mat-button class="register-user" color="accent" [disabled]="disabled" (click)="registerUser()">Register</button>
    <div class="auth-header">
      <p>Already have a account ?</p>
      <button mat-button class="login-btn" color="primary" [routerLink]="['/login']">Login Here</button>
    </div>
  </div>
</div>