<mat-card class="view-card">
    <img mat-card-image 
    src="https://s.yimg.com/ny/api/res/1.2/I1Ky250O4bR5bhvxL.H9mg--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAwO2g9NjAw/http://media.zenfs.com/en-US/homerun/bon_appetit_189/06309117c41119f2562f70309e930d8a" alt="Food Picture">
    <div *ngIf="isDoingUpdate; then onUpdate else noUpdate"></div>
    <mat-card-actions>
        <button *ngIf="isSearch" class="add-fav" mat-raised-button (click)="addToFavourites()" color="primary">Add to Favourites</button>
        <button *ngIf="isSearch" mat-raised-button color="accent" (click)="getNutritionInfo(food.ndbno)">Nutrition Info</button>
        <button *ngIf="!isSearch" mat-raised-button color="accent" (click)="getNutritionInfo(food.foodId)">Nutrition Info</button>
        <button *ngIf="!isSearch && !isDoingUpdate" class="update-btn" mat-raised-button color="primary" (click)="isDoingUpdate=true">Update</button>
        <button *ngIf="!isSearch && isDoingUpdate" class="update-name" mat-raised-button color="primary" (click)="updateFavourites()">Save</button>
        <button *ngIf="!isSearch" class="delete-item" mat-raised-button color="warn" (click)="deleteFromFavourites()">Delete</button>
    </mat-card-actions>
  </mat-card>

  <ng-template #onUpdate>
      <mat-card-header>
        <mat-form-field>
            <input matInput required id="food-name" placeholder="Name" [(ngModel)]='newName' type="text">
        </mat-form-field>
    
        <button mat-icon-button (click)="isDoingUpdate=false">
            <mat-icon>cancel</mat-icon>
        </button>
        <mat-card-subtitle>{{food.group}}</mat-card-subtitle>
      </mat-card-header>
    </ng-template>
    
    <ng-template #noUpdate>
      <mat-card-header>
        <mat-card-title class="food-title">{{food.name}}</mat-card-title>
        <mat-card-subtitle>{{food.group}}</mat-card-subtitle>
      </mat-card-header>
    </ng-template>