<h1 mat-dialog-title>Nutrients Information</h1>
<div mat-dialog-content>
  <table mat-table [dataSource]="nutrients" style="width: 100%">

      <ng-container matColumnDef="nutrient">
        <th mat-header-cell *matHeaderCellDef> Nutrient </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value per 100g</th>
        <td mat-cell *matCellDef="let element"> {{element.value}} {{element.unit}}</td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
</div>